<h1>ask</h1>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="quest" placeholder="give me something">
  <input type="submit" value="Go on!">
</form>
